<div class="row">
<%= render 'home/sidebar' %>
	<h2 align="center"> Approvals </h2>
	<div class="col-xs-10">
	<hr>
		<div class="row">
			<div class="col-xs-8">
					<p><%= link_to "Rajya Sanghatna Approval", rajya_approval_path,class: "btn btn-info btn-md btn-responsive" %>
					<%= link_to "Yuva Sanghatna Approval", yuva_approval_path,class: "btn btn-info btn-md btn-responsive" %>
					<%= link_to "Zilla Sanghatna Approval", zilla_approval_path,class: "btn btn-info btn-md btn-responsive" %></p>
					<p><%= link_to "VadhuVar Approval", vadhuvar_approval_path,class: "btn btn-info btn-md btn-responsive" %>
					<%= link_to "Tanta_mukti Samiti Approval", tanta_mukti_approval_path,class: "btn btn-info btn-md btn-responsive" %></p>
				</div>
				
	</div>
	</div>
</div>