<div class="row">
<%= render 'home/sidebar' %>
	<h2 align="center"> Disapprovals </h2>
	<div class="col-xs-10">
	<hr>
		<div class="row">
			<div class="col-xs-8">
				<p>	<%= link_to "Rajya Sanghatna Disapproval", rajya_disapproval_path,class: "btn btn-info btn-md btn-responsive" %>
					<%= link_to "Yuva Sanghatna Disapproval", yuva_disapproval_path,class: "btn btn-info btn-md btn-responsive" %>
					<%= link_to "Zilla Sanghatna Disapproval", zilla_disapproval_path,class: "btn btn-info btn-md btn-responsive" %></p>
				<p>	<%= link_to "VadhuVar Disapproval", vadhuvar_disapproval_path,class: "btn btn-info btn-md btn-responsive" %>
					<%= link_to "Tanta_mukti Samiti Disapproval", tanta_mukti_disapproval_path,class: "btn btn-info btn-md btn-responsive" %>
				</p>
			</div>
				
	</div>
	</div>
</div>