<div class="row">
<%= render 'home/sidebar' %>
<h2 align="center"> Zilla Sanghatna Disapproval </h2>
	<div class="col-xs-10">
	<hr>
	<div class="row col-xs-offset-1">
	<% if user_signed_in? && current_user.user_type == "Super_admin" %>
			<% if @users.size > 0 %>	
			<div class="table-responsive">
     		<table class="table2">
     			<col width="200">
     			<col width="400">
	     		<thead>
				<tr>
					<th>Name</th>
					<th>Approve</th>
				</tr>
				</thead>
				<tbody>
				<% for user in @users %>
						<tr>
							<%= simple_form_for user do |f| %>
							<% if user != nil && user.first_name != nil && user.middle_name != nil && user.last_name != nil %>
							<td><%= user.full_name %></td>
							<td><%= f.input :zilla_approval, collection: [:Yes, :No], as: :radio_buttons %>
							<%= f.submit "Approve" %></td>
							<% end %>

							<% elsif user != nil && user.first_name != nil && user.last_name != nil %>
                       <td><%= user.first_name + " " + user.last_name %></td>
                        <td><%= f.input :zilla_approval, collection: [:Yes, :No], as: :radio_buttons %>
                        <%= f.submit "Approve" %></td>
			<% end %>
						</tr>
				<% end %>
				</tbody>
			</table>
			</div>	
			<% else %>
					<h3> No new users registered yet </h3>
			<% end %>
	<% else %>
		<p>Access Denied because you are not an admin</p>
	<% end %>
	</div>
	</div>
</div>
