<div class="col-xs-2">
<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav ">

      	<li><%= link_to "राज्‍य संघटना पदाधिकारी",rajyasanghatna_home_path, class: "hidden-xs showopacity"%></li>
			<li><%= link_to "जिल्‍हा संघटना पदाधिकारी",zilasanghatna_home_path, class: "hidden-xs showopacity" %></li>
			<li><%= link_to "समाजातील धार्मिक स्‍थळे",dharmik_places_home_path , class: "hidden-xs showopacity"%></li>
			<li><%= link_to "संघटनेची कार्ये",sanghatnaactivities_home_path , class: "hidden-xs showopacity"%></li>
			<li><%= link_to "युवा संघटना",yuvasanghatna_home_path , class: "hidden-xs showopacity"%></li>
			<li><%= link_to "वधू वर सूचक मंडळ",vadhuvar_home_path , class: "hidden-xs showopacity"%></li>
			<li><%= link_to "तंटा मुक्‍ती समिती",tanta_mukti_samiti_home_path , class: "hidden-xs showopacity"%></li>
			<li><%= link_to "समाजातील महत्‍वाच्‍या व्‍यक्‍ती",mahatvachevyakti_home_path , class: "hidden-xs showopacity"%></li>
			<li><%= link_to "भविष्‍यातील ध्‍येय धोरणे",future_vision_home_path , class: "hidden-xs showopacity"%></li>
			<li><%= link_to "कर्मचारी भरती",recruitments_path, class: "hidden-xs showopacity"%></li>
      <li><%= link_to "संदर्भ सूची",sandarbhsuchis_path, class: "hidden-xs showopacity"%></li>
      </ul>
    </div>
  </div>
</nav>

</div>