<div class="row">
<%= render 'home/sidebar' %>
<h2 align="center"><strong>समाजातील धार्मिक स्‍थळे</strong></h2>
	<div class="col-xs-10">
	<% if user_signed_in? &&  current_user.user_type == "Super_admin" %>
	<div class="row">
		<% if @summary_exist != nil %>
	<%= simple_form_for @summary_exist do |f| %>
		<%= f.input :Dharmik_places_summary, label: "समाजातील धार्मिक स्‍थळे सारांश" %>
		<%= f.submit "Update" %>
	<% end %>
<% else %>
	<%= simple_form_for @summary do |f| %>
			<%= f.input :Dharmik_places_summary, label: "समाजातील धार्मिक स्‍थळे सारांश" %>
			<%= f.submit "Save" %>
	<% end %>
<% end %>
	</div>
	<% else %>
	<% if @summary_exist != nil %>
	<h4 align="center" class="margin-bottom2"><%= simple_format(@summary_exist.Dharmik_places_summary) %></h4>
	<% end %>
	<% end %>
	<% if user_signed_in? && current_user.user_type == "Super_admin" %>
			<%= link_to "नवीन सामाजिक / धर्मिक स्थळ", new_samajikplace_path , class: "btn btn-info btn-sm btn-responsive" %>
		<% end %>
	<hr>
		

	<div class="row">
		<div class="col-xs-8">
		<% if @dharmik_places != nil && @dharmik_places.size > 0 %>
			<div class="table-responsive">
	     	<table class="table2">
	     	<col width="200">
			<col width="500">
				<thead>
					<tr>
						<th>फोटो</th>
						<th> माहिती</th>
					</tr>
				</thead>
				<% for place in @dharmik_places %>
				<tbody>
				<tr>				
				<td>
					<% if place.photo? %>
						<%= image_tag((place.photo.url),class: "manogat-img image-responsive") %> 
					<% else %>
						<p align="left" class="margin-left"><b>फोटो उपलब्ध नाही</b></p>
					<% end %>
				</td>
				<td>
					<p align="left" class="margin-left"><% if place.title? %>
						<b>शीर्षक: </b> <%= place.title %>
					<% end %>
					<% if place.place? %>
						(<%= place.place %>)
					<% end %></p>
					<p align="left" class="margin-left"><% if place.address? %>
						<b>पत्ता :</b> <%= simple_format(place.address) %>
					<% end %></p>

					<p align="left" class="margin-left"><% if place.description? %>
						<b>वर्णन :</b> <%= simple_format(place.description) %>
					<% end %></p>
					<p align="left" class="margin-left">
					<% if user_signed_in? && current_user.user_type == "Super_admin" %>
						<%= link_to "Edit", edit_samajikplace_path(place) , class: "btn btn-warning btn-xs btn-responsive" %> 
						<%= link_to "Delete", samajikplace_path(place),method: :delete , class: "btn btn-danger btn-xs btn-responsive"%>
					<% end %></p>
					</td>
				</tr>
			</tbody>
			<% end %>
			</table>
			</div>
		<% else %>
		<h3 align="center">धार्मिक ठिकाणे डेटाबेसमध्ये जोडली नाहीत, ठिकाणे जोडण्यासाठी प्रशासनाशी संपर्क साधा.</h3>
	<% end %>
<%= will_paginate @dharmik_places, :renderer =>  BootstrapPagination::Rails, :page_links => false, previous_label: "<< नवीन", next_label: "जुने >>" %>
	</div>
	<div class="col-xs-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>जाहिरात</h3>
		</div>
		<div class="panel-body scrollable">
		<div class="advertisement-box">
                               </div>

			<% if @ads.size > 0 %>
				<% for ad in @ads %>
					<div class="advertisement-box">
						<p class="underline-text"><strong><%= ad.title %></strong><p>
						<% if ad.photo? %>
							<p> <%= image_tag((ad.photo.url), class: "karmchari-img image-responsive") %></p>
						<% end %>
						<p><%= ad.description %></p>
					</div>
			    <% end %>
			<% end %>
		</div>
		
	</div>	
	</div>

</div>
</div>
	</div>
