<div class="row">
<%= render 'home/sidebar' %>

	<div class="col-xs-10">
<h2 align="center"><strong>राज्‍य संघटना पदाधिकारी</strong></h2>	
<% if user_signed_in? &&  current_user.user_type == "Super_admin" %>
	<div class="row">
		<% if @summary_exist != nil %>
	<%= simple_form_for @summary_exist do |f| %>
		<%= f.input :Rajya_sanghatna_summary, label: "राज्‍य संघटना पदाधिकारी सारांश" %>
		<%= f.submit "Update" %>
	<% end %>
<% else %>
	<%= simple_form_for @summary do |f| %>
			<%= f.input :Rajya_sanghatna_summary, label: "राज्‍य संघटना पदाधिकारी सारांश" %>
			<%= f.submit "Save" %>
	<% end %>
<% end %>
	</div>
	<% else %>
	<% if @summary_exist != nil %>
	<h4 align="center" class="margin-bottom2"><%= simple_format(@summary_exist.Rajya_sanghatna_summary) %></h4>
	<% end %>
	<% end %> 
	<hr>
	<div class="row">
		<div class="col-xs-8">
			<% if  @r_members!= nil &&  @r_members.size > 0 %>
			<div class="table-responsive">
			<table class="table2">
			<col width="200">
			<col width="500">
			<thead>
				<tr>
					<th>फोटो</th>
					<th>माहिती</th>
				</tr>
			</thead>
			<% for member in @r_members %>
				<% if member.rajya_approval == "Yes" %>
				<tbody>
					<tr>
					<td><% if member.avatar? %>
						<%= image_tag((member.avatar.url), class: "manogat-img image-responsive") %>
						<% else %>
							<% if member.gender == "Male" %>
								<%= image_tag('male-no-avatar.png') %>
							<% elsif member.gender == "Female" %>
								<%= image_tag('female-no-avatar.png') %>
							<% end %>
						<% end %>
					</td>
					<td>
						<% if member.first_name != nil && member.last_name != nil && member.middle_name != nil %>
							<p align="left" class="margin-left"><b>नाव :</b><%= member.full_name %></p>
						<% end %>
						<p align="left" class="margin-left"><b>पदनाम :</b><%= member.post %></p>			
						<p align="left" class="margin-left"><b>कालावधी :</b><%= member.tenure %></p>
						<p align="left" class="margin-left"><b>फोन नंबर :</b><%= member.phone %></p>
						<p align="left" class="margin-left"><b>पत्ता :</b><%= member.address %></p>
						<p align="left" class="margin-left"><b>स्वतः विषयी :</b><%= simple_format(member.bio) %></p>
					</td>
					</tr>
				</tbody>
				<% end %>
			<% end %>
		</table>
		</div>
		<% else %>
			<h3 align="center">राज्य संघटनेचे सदस्य अद्याप निवडले गेले नाहीत, येथे सदस्य जोडण्यासाठी आपल्या प्रशासकाशी संपर्क साधा!</h3>
		<% end %>
	</div>
	<div class="col-xs-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>जाहिरात</h3>
		</div>
			<div class="panel-body scrollable">
			<% if @ads.size > 0 %>
				<% for ad in @ads %>
					<div class="advertisement-box">
						<p class="underline-text"><strong><%= ad.title %></strong><p>
						<% if ad.photo? %>
							<p> <%= image_tag((ad.photo.url), class: "karmchari-img image-responsive") %></p>
						<% end %>
						<p><%= ad.description %></p>
					</div>
			    <% end %>
			<% end %>
		</div>
	</div>	
	</div>
	</div>
	</div>
</div>
