<div class="row">
<%= render 'home/sidebar' %>

	<div class="col-xs-10">
	<h3 align="center"">तंटा मुक्‍ती समिती</h3>
	<% if user_signed_in? &&  current_user.user_type == "Super_admin" %>
	<div class="row">
		<% if @summary_exist != nil %>
	<%= simple_form_for @summary_exist do |f| %>
		<%= f.input :Tantamukti_summary, label: "तंटा मुक्‍ती समिती सारांश" %>
		<%= f.submit "Update" %>
	<% end %>
<% else %>
	<%= simple_form_for @summary do |f| %>
			<%= f.input :Tantamukti_summary, label: "तंटा मुक्‍ती समिती सारांश" %>
			<%= f.submit "Save" %>
	<% end %>
<% end %>
	</div>
	<% else %>
	<% if @summary_exist != nil %>
	<h4 class="margin-bottom2"><%= simple_format(@summary_exist.Tantamukti_summary) %></h4>
	<% end %>
	<% end %>
	<hr>
	<div class="row">
		<div class="col-xs-8">
		<% if  @tantamuktis != nil &&  @tantamuktis.size > 0 %>
			<div class="table-responsive">
	    	<table class="table2">
	    		<col width="200">
				<col width="500">
				<thead>
					<tr>
					<th>फोटो</th>
					<th> माहिती</th>
					</tr>
				</thead>

				<% for member in @tantamuktis %>
					<% if member.tantamukti_approval == "Yes" %>
						<tbody>
							<tr>
							<td>
								<% if member.photo? %>
									<%= image_tag((member.photo.url),class: "manogat-img image-responsive") %>
								<% end %>
							</td>
							<td>	
								<p align="left" class="margin-left"><b>नाव :</b><%= member.user_name %></p>
								<p align="left" class="margin-left"><b>पदनाम :</b> <%= member.post %></p>		
								<p align="left" class="margin-left"><b>कार्यक्षेञ :</b> <%= member.work_field %></p>
								<p align="left" class="margin-left"><b>मोबाइल नंबर :</b><%= member.phone_number %></p>
								<p align="left" class="margin-left"><b>पत्ता :</b> <%= member.address %></p>
							</td>
							</tr>
						</tbody>
					<% end %>
				<% end %>
			</table>
			</div>
		<% else %>
			<p>समितीचे सदस्य या क्षणी उपलब्ध नाहीत</p>
		<% end %>
		</div>
		<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>आपण इच्छित असल्यास एडिट करा</h3>
				</div>
				<div class="panel-body">
					<% if user_signed_in? && current_user.tanta_mukti_created != "Yes" %>
						<%= render 'tantamuktis/form' %>
					<% elsif user_signed_in? && current_user.tanta_mukti_created == "Yes" %>
						<% if @tantamukti_pass != nil %>
							<%= simple_form_for @tantamukti_pass do |f| %>
								<p><b>फोटो</b></p>
								<%= f.file_field :photo %>
								<%= f.input :user_name,label: "नाव" %>
								<%= f.input :post,label: "पदनाम" %>
								<%= f.input :work_field, label: "कार्यक्षेञ	" %>
								<%= f.input :phone_number, label: "मोबाइल नंबर" %>
								<%= f.input :address, label: "पत्ता " %>	
								<%= f.submit "सबमिट करा" %>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</div>	
		</div>			
	</div>
</div>
</div>
