<div class="row">
<%= render 'home/sidebar' %>

	<div class="col-xs-10">
	<h2 align="center"><strong>शासकिय योजना</strong></h2>
	<% if user_signed_in? &&  current_user.user_type == "Super_admin" %>
	<div class="row">
		<% if @summary_exist != nil %>
	<%= simple_form_for @summary_exist do |f| %>
		<%= f.input :shaskiyayojana_summary, label: "शासकिय योजना सारांश" %>
		<%= f.submit "Update" %>
	<% end %>
<% else %>
	<%= simple_form_for @summary do |f| %>
			<%= f.input :shaskiyayojana_summary, label: "शासकिय योजना सारांश" %>
			<%= f.submit "Save" %>
	<% end %>
<% end %>
	</div>
	<% else %>
	<% if @summary_exist != nil %>
	<h4 align="center" class="margin-bottom2">(<%= @summary_exist.shaskiyayojana_summary %>)</h4>
	<% end %>
	<% end %>
	<% if user_signed_in? && (current_user.user_type == "Super_admin") %>
		<%= link_to "नवीन शास्किया योजना",new_shaskiyayojana_path, class: "btn btn-info btn-sm" %>
	<% end %>
	<hr>
	<div class="row">
	<div class="col-xs-8">
		<% if @shaskiyayojanas != nil && @shaskiyayojanas.size > 0 %>
			<div class="table-responsive">
			<table class="table2">
				<col width="50">
				<col width="700">
					<thead>
					<tr>
						<th>नंबर</th>
						<th> माहिती</th>
					</tr>
					</thead>
					<% count = 1 %>
					<% for shaskiyayojana in @shaskiyayojanas %>
						<tbody>
							<tr>
							<td align="center"><%= count %></td>
							<td>
								<p align="left" class="margin-left"><b><%= shaskiyayojana.title %></b></p>
								<p align="left" class="margin-left"><%= shaskiyayojana.description %></p>
								<p align="left" class="margin-left">
									<% if shaskiyayojana.attachment? %>
										<%= link_to "#{truncate(File.basename(shaskiyayojana.attachment.path),length: 25)}", :action => 'download_file_shaskiyayojana', :controller=>"shaskiyayojanas", :id => shaskiyayojana.id,:target => "_blank" %>
									<% end %>
								</p>
								<p align="left" class="margin-left"><% if user_signed_in? && (current_user.user_type == "Super_admin") %>
									<%= link_to "edit",edit_shaskiyayojana_path(shaskiyayojana), class: "btn btn-warning btn-sm" %> 
									<%= link_to "delete",shaskiyayojana_path(shaskiyayojana),method: :delete, class: "btn btn-danger btn-sm" %>
									<% end %>
								</p>
							</td>
							</tr>
						</tbody>	
						<% count = count + 1 %>	
					<% end %>
			</table>
			</div>
		<% else %>
			<p><h3> माहिती उपलब्ध नाही <h3></p>
		<% end %>
	</div>
	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>जाहिरात</h3>
			</div>
				<div class="panel-body scrollable">
			<% if @ads.size > 0 %>
				<% for ad in @ads %>
					<div class="advertisement-box">
						<p class="underline-text"><strong><%= ad.title %></strong><p>
						<% if ad.photo? %>
							<p> <%= image_tag((ad.photo.url), class: "karmchari-img image-responsive") %></p>
						<% end %>
						<p><%= ad.description %></p>
					</div>
			    <% end %>
			<% end %>
		</div>
		</div>	
	</div>
	</div>	
	</div>
</div>
