<div class="row">
<%= render 'home/sidebar' %>

	<div class="col-xs-10">
<h2 align="center"><strong>प्रतिक्रीया</strong></h2>
				<% if user_signed_in? &&  current_user.user_type == "Super_admin" %>
			<div class="row">
				<% if @summary_exist != nil %>
			<%= simple_form_for @summary_exist do |f| %>
				<%= f.input :pratikriya_summary, label: "प्रतिक्रीया सारांश" %>
				<%= f.submit "Update" %>
			<% end %>
		<% else %>
			<%= simple_form_for @summary do |f| %>
					<%= f.input :pratikriya_summary, label: "प्रतिक्रीया सारांश" %>
					<%= f.submit "Save" %>
			<% end %>
		<% end %>
			</div>
			<% else %>
			<% if @summary_exist != nil %>
			<h4 align="center" class="margin-bottom2">(<%= @summary_exist.pratikriya_summary %>)</h4>
			<% end %>
			<% end %>
		<hr>
		<div class="row">
			<div class="col-xs-8">
				<% if @feedbacks != nil && @feedbacks.size > 0%>
					<% for feedback in @feedbacks %>
						<div class="panel panel-warning">
							<div class="panel-heading">
								<h5><%= feedback.title %></h5>
							</div>
							<div class="panel-body">
								<p><%= feedback.description %></p>
								<p><b>Posted by :</b><%= feedback.user_name %></p>
							</div>
							<% if user_signed_in? && feedback.user_id == current_user.id %>
								<div class="panel-footer">
									<%= link_to "delete", feedback_path(feedback),method: :delete,class: "btn btn-danger btn-sm btn-responsive" %>
								</div>
							<% end %>
						</div>
					<% end %>
				<% else %>
					<h3>प्रतिक्रीया लिहा!</h3>
				<% end %>
				<% if user_signed_in? %>
					<div class="panel panel-default">
					<div class="panel-body">
						<p>तुमची प्रतिक्रीया लिहा </p>
					</div>
					<div class="panel-footer">
						<%= render 'form' %></div>
					</div>
				<% end %>
			</div>
			<div class="col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>जाहिरात</h3>
				</div>
					<div class="panel-body scrollable">
			<% if @ads.size > 0 %>
				<% for ad in @ads %>
					<div class="advertisement-box">
						<p class="underline-text"><strong><%= ad.title %></strong><p>
						<% if ad.photo? %>
							<p> <%= image_tag((ad.photo.url), class: "karmchari-img image-responsive") %></p>
						<% end %>
						<p><%= ad.description %></p>
					</div>
			    <% end %>
			<% end %>
		</div>
			</div>	
			</div>
		</div>
	</div>
</div>
